{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Starelette Supabase Auth</h1>
    <p class="lead"><span class="font-semi-bold">401</span> Unauthorized</p>
</div>
{% endblock content %}