<div>
   <label>Email *</label>
    {{form.email(placeholder='Email ...', autofocus='true', type='email', spellcheck='false', class='form-control')}}
    {% if form.email.errors -%}
        <span>{{form.name.errors[0]}}</span>
    {%- endif %}

</div>
<div>
    <label>Password *</label>
    {{form.password(placeholder='***********', class='form-control')}}
    {% if form.password.errors -%}
        <span>{{form.password.errors[0]}}</span>
    {%- endif %}
</div>