{% extends "layout.jinja2" %}

{% block content %}

<div class="content">
    
    {% include 'error.jinja2' %}
    
    <h1>Forgot password</h1>
    <p class="lead">Confirm with your email:</p>

    <form method="post" action="{{url_for('forgot_password')}}">
        {% include 'hidden_fields.jinja2' %}

        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        {% for error in form.email.errors %}
            <span class="text-danger">{{error}}</span>
        {% endfor %}
         <input class="btn btn-primary m-1" type="submit" value="Confirm">
    </form>

</div>

{% endblock content %}