{% extends "layout.jinja2" %}

{% block content %}

<div class="content">

    {% include 'error.jinja2' %}
    
    <h1>Reset password</h1>
    <p class="lead">Create new password: Oauth included (Github, Discord, ...) </p>
    <p class="lead">When you set a password for Oauth accounts, you can use it on the login page.</p>

    <form method="post" action="{{url_for('reset_password')}}">
        {% include 'hidden_fields.jinja2' %}

        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}

        {% for error in form.password.errors %}
            <span class="text-danger">{{error}}</span>
        {% endfor %}
        <input class="btn btn-primary m-1" type="submit" value="Set password">
    </form>

</div>

{% endblock content %}