annotated-types
anyio
certifi
click
colorama
deprecation
dnspython
email-validator
gotrue
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
packaging
postgrest
pydantic
pydantic_core
python-dateutil
python-multipart
realtime
six
sniffio
starlette
starlette-session
Starlette-WTF
storage3
StrEnum
supabase
supafunc
typing_extensions
uvicorn
websockets
WTForms
